/* Add a black background color to the top navigation */
.topnav {
background-color: #44003C;
overflow: hidden;
font-family: "Comfortaa", sans-serif;
}

/* Style the links inside the navigation bar */
.topnav a {
float: left;
color: #f2f2f2;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
background-color: #F7D9FF;
color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
background-color: #CA00B6;
color: white;
}



p, h1{
font-family: "Comfortaa", sans-serif;
}

body{
background: linear-gradient(#FFD7F6, #F7D9FF)
}

aside {
position: absolute;
right: 400px;
top: 150px;
width: 400px;
border: 3px solid #73AD21;
padding: 10px;
font-family: "Comfortaa",sans-serif;
}

#legal{
position: absolute;
right: 400px;
top: 200px;
width: 400px;
border: 3px solid #73AD21;
padding: 10px;
}

#list{
position: absolute;
right: 400px;
top: 600px;
width: 400px;
border: 3px solid #73AD21;
padding: 10px;
font-family: "Comfortaa", sans-serif;
}
